{\\n{{#models}}{{#model}}{{#parent}}{{#parentVars}}\\t\\\"{{baseName}}\\\": {{#defaultValue}}{{.}}{{/defaultValue}}{{^-last}},{{/-last}} //{{baseType}}{{^required}} [optional]{{/required}}\\n{{/parentVars}}{{/parent}}{{#vars}}\\t\\\"{{baseName}}\\\": {{#defaultValue}}{{.}}{{/defaultValue}}{{^-last}},{{/-last}} //{{baseType}}{{^required}} [optional]{{/required}}\\n{{/vars}}{{/model}}{{/models}}}