{
{{#models}}
    {{#model}}
    {{#parent}}
        {{#parentVars}}\\\"{{baseName}}\\\":
        {{#defaultValue}}{{.}}{{/defaultValue}}
    {{^-last}},{{/-last}} //{{baseType}}{{^required}}
    [optional]{{/required}}
    {{/parentVars}}{{/parent}}
    {{#vars}}
    "{{baseName}}":{{#defaultValue}}{{.}}{{/defaultValue}}{{^-last}},{{/-last}} //{{baseType}}{{^required}}[optional]{{/required}}
    {{/vars}}
    {{/model}}
{{/models}}
}