    {
        "label": "Result Variable",
        "description": "Name of variable to store the response in",
        "group": "responseMapping",
        "value": "response_{{sanitizedOperationId}}",
        "type": "String",
        "binding": {
            "type": "zeebe:taskHeader",
            "key": "resultVariable"
        },
        "condition": {
            "property": "operation",
            "equals": "{{sanitizedOperationId}}"
        }
    },
    {
        "label": "Result Expression",
        "description": "Expression to map the response into process variables",
        "group": "responseMapping",
        "type": "Text",
        "feel": "required",
        "value": "{{#camelCaseReturnType}}=<{{.}}-response>{{/camelCaseReturnType}}",
        "binding": {
            "type": "zeebe:taskHeader",
            "key": "resultExpression"
        },
        "condition": {
            "property": "operation",
            "equals": "{{sanitizedOperationId}}"
        }
    },