{
    //uncomment those that you want to assign
    {{#models}}
    {{#model}}
    {{#parent}}
    {{#parentVars}}//"{{baseName}}": response.body.{{baseName}}{{^-last}},{{/-last}} //{{baseType}}{{/parentVars}}
    {{/parent}}
    {{#vars}}//"{{baseName}}": response.body.{{baseName}}{{^-last}},{{/-last}} //{{baseType}}
    {{/vars}}
    {{/model}}
    {{/models}}
}