{\\n\\t//uncomment those that you want to assign\\n{{#models}}{{#model}}{{#parent}}{{#parentVars}}\\t//\\\"{{baseName}}\\\": response.body.{{baseName}}{{^-last}},{{/-last}} //{{baseType}}\\n{{/parentVars}}{{/parent}}{{#vars}}\\t//\\\"{{baseName}}\\\": response.body.{{baseName}}{{^-last}},{{/-last}} //{{baseType}}\\n{{/vars}}{{/model}}{{/models}}}