[
    {
        "$schema": "https://unpkg.com/@camunda/zeebe-element-templates-json-schema/resources/schema.json",
        "name": "{{classname}}",
        "id": "com.camunda.generated.{{classname}}",
        "description": "{{summary}}",
        "version": 1,
        "appliesTo": [
            "bpmn:Task"
        ],
        "elementType": {
            "value": "bpmn:ServiceTask"
        },
        "groups": [
            {
                "id": "operation",
                "label": "Operation"
            },
        {{#operations}}
            {{#operation}}
            {
                "id": "{{operationId}}",
                "label": "{{operationId}}"
            }{{^-last}},{{/-last}}
            {{/operation}}
        {{/operations}}
        ],
        "properties": [
            {
                "type": "Hidden",
                "value": "io.camunda:http-json:1",
                "binding": {
                    "type": "zeebe:taskDefinition:type"
                }
            },
            {
                "type": "Hidden",
                "value": "placeholder",
                "binding": {
                    "type": "zeebe:input",
                    "name": "objects"
                }
            },
            {
                "label": "Operation",
                "id": "operation",
                "description": "Specify the operation to call.",
                "type": "Dropdown",
                "group": "operation",
                "value": "{{#operations}}{{#operation}}{{#-first}}{{operationId}}{{/-first}}{{/operation}}{{/operations}}",
                "choices": [
                    { "name": "Reset choice", "value": "-" },
                    {{#operations}}
                        {{#operation}}
                        { "name": "{{operationId}}", "value": "{{operationId}}" }{{^-last}},{{/-last}}
                        {{/operation}}
                    {{/operations}}
                ],
                "binding": {
                    "type": "zeebe:taskHeader",
                    "key": "operation"
                }
            },

            {{#operations}}
                {{#operation}}
                    {{#hasAuthMethods}}
                        {{#authMethods}}
                            {{#isBasicBasic}}
            {
                "type": "Hidden",
                "value": "basic",
                "group": "{{operationId}}",
                "binding": {
                    "type": "zeebe:input",
                    "name": "authentication.type"
                }
            },
            {
                "label": "API Username (Basic Authentication)",
                "group": "authentication",
                "type": "String",
                "group": "{{operationId}}",
                "feel": "optional",
                "binding": {
                    "type": "zeebe:input",
                    "name": "authentication.username"
                },
                "condition": {
                    "property": "operation",
                    "equals": "{{operationId}}"
                },
                "constraints": {
                    "notEmpty": true
                }
            },
            {
                "label": "API Password (Basic Authentication)",
                "group": "authentication",
                "type": "String",
                "group": "{{operationId}}",
                "feel": "optional",
                "binding": {
                    "type": "zeebe:input",
                    "name": "authentication.password"
                },
                "condition": {
                    "property": "operation",
                    "equals": "{{operationId}}"
                },
                "constraints": {
                    "notEmpty": true
                }
            },              {{/isBasicBasic}}
                            {{#isBasicBearer}}
            {
                "type": "Hidden",
                "value": "bearer",
                "group": "{{operationId}}",
                "binding": {
                    "type": "zeebe:input",
                    "name": "authentication.type"
                }
            },
            {
                "label": "API Bearer Token (Bearer Authentication)",
                "group": "authentication",
                "type": "String",
                "feel": "optional",
                "group": "{{operationId}}",
                "binding": {
                    "type": "zeebe:input",
                    "name": "authentication.token"
                },
                "condition": {
                    "property": "operation",
                    "equals": "{{operationId}}"
                },
                "constraints": {
                    "notEmpty": true
                }
            },
                        {{/isBasicBearer}}
                    {{/authMethods}}
                {{/hasAuthMethods}}
            {
                "label": "URL",
                "group": "{{operationId}}",
                "type": "String",
                "feel": "optional",
                "value": "=\"{{basePath}}{{{path}}}\"",
                "binding": {
                    "type": "zeebe:input",
                    "name": "url"
                },
                "condition": {
                    "property": "operation",
                    "equals": "{{operationId}}"
                }
            },
            {
                "label": "Method",
                "group": "{{operationId}}",
                "type": "Dropdown",
                "value": "{{#lambda.lowercase}}{{httpMethod}}{{/lambda.lowercase}}",
                "condition": {
                    "property": "operation",
                    "equals": "{{operationId}}"
                },
                "choices": [
                    { "name": "GET", "value": "get" },
                    { "name": "POST", "value": "post" },
                    { "name": "PATCH", "value": "patch" },
                    { "name": "PUT", "value": "put" },
                    { "name": "DELETE", "value": "delete" }
                ],
                "binding": {
                    "type": "zeebe:input",
                    "name": "method"
                }
            },
            {{#allParams}}
            {
                "label": "{{paramName}}",
                "description": "{{description}}",
                "type": "String",
                "feel": "{{#isBodyParam}}required{{/isBodyParam}}{{^isBodyParam}}optional{{/isBodyParam}}",
                "group": "{{operationId}}",
                "value": "{{defaultValue}}",
                "binding": {
                    "type": "zeebe:input",
                    "name": "objects.{{operationId}}_{{paramName}}"
                },
                "condition": {
                    "property": "operation",
                    "equals": "{{operationId}}"
                },
                "constraints": {
                    "notEmpty": true
                }
            },
            {{/allParams}}
            {
                "label": "Result Variable",
                "description": "Name of variable to store the response in",
                "group": "{{operationId}}",
                "type": "String",
                "binding": {
                    "type": "zeebe:taskHeader",
                    "key": "resultVariable"
                },
                "condition": {
                    "property": "operation",
                    "equals": "{{operationId}}"
                }
            },
            {
                "label": "Query Parameters",
                "description": "FEEL map containing the query parameters",
                "group": "{{operationId}}",
                "type": "String",
                "feel": "required",
                "value": "={\n{{#queryParams}}\t\"{{paramName}}\": objects.{{operationId}}_{{paramName}}{{^-last}},{{/-last}}\n{{/queryParams}}}",
                "binding": {
                    "type": "zeebe:input",
                    "name": "queryParameters"
                },
                "condition": {
                    "property": "operation",
                    "equals": "{{operationId}}"
                },
                "optional": true
            }{{^-last}}, {{/-last}}
                {{/operation}}
            {{/operations}}
        ]
    }
]