{\\n{{#models}}{{#model}}{{#parent}}{{#parentVars}}\\t\\\"{{name}}\\\": {{#defaultValue}}{{.}}{{/defaultValue}}{{^-last}},{{/-last}} //{{baseType}}\\n{{/parentVars}}{{/parent}}{{#vars}}\\t\\\"{{name}}\\\": {{#defaultValue}}{{.}}{{/defaultValue}}{{^-last}},{{/-last}} //{{baseType}}\\n{{/vars}}{{/model}}{{/models}}}